@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep .form {
    display: flex;
    flex-direction: column;

    .text-label {
      margin-top: 1.5rem;
    }
  }
}

.form-group {
  margin-bottom: 1.5rem;
}

.resource-section {
  margin-top: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}