<nb-card>
  <!-- HEADER -->

  <nb-card-header> Tạo file YAML </nb-card-header>

  <!-- BODY -->

  <nb-card-body>
    <app-helm-version-select
      [(selectedVersion)]="selectedVersion"
      (versionsLoaded)="onVersionsLoaded($event)"
      (schemaLoaded)="onSchemaLoaded($event)"
    >
    </app-helm-version-select>

    <app-quick-generate
      *ngIf="showQuickGenerate"
      [templateSchema]="templateSchema"
      (generate)="generateMultipleFiles($event)"
    >
    </app-quick-generate>

    <ngx-tab-files
      [templateSchema]="templateSchema"
      [(yamlFiles)]="yamlFiles"
      [(selectedTabIndex)]="selectedTabIndex"
      (formChanged)="saveDraft()"
    >
    </ngx-tab-files>
  </nb-card-body>
</nb-card>

<!-- ACTION -->

<app-modal-actions
  [(showQuickGenerate)]="showQuickGenerate"
  (addFile)="addFile()"
  (exportYaml)="exportYaml()"
  (resetForm)="resetForm()">
</app-modal-actions>
