<nb-card class="quick-generate-card">
  <!-- HEADER -->

  <nb-card-header class="quick-generate-header">
    <div>
      <div class="quick-title">Tạo file nhanh</div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <!-- GENERAL -->

    <div class="quick-section">
      <div class="section-title">Thông tin chung</div>

      <div class="quick-generate-grid">
        <!-- APP NAME -->

        <div class="form-group">
          <label class="label"> Tên chương trình </label>

          <input
            nbInput
            fullWidth
            [(ngModel)]="quickGenerate.appName"
            placeholder="payment-service"
          />
        </div>

        <!-- COUNT -->

        <div class="form-group">
          <label class="label"> Số lượng service </label>

          <input
            nbInput
            type="number"
            min="1"
            fullWidth
            [(ngModel)]="quickGenerate.count"
            (ngModelChange)="onQuickGenerateCountChange()"
          />
        </div>
      </div>
    </div>

    <!-- SERVICES -->

    <div class="quick-section">
      <div class="section-title">Danh sách service</div>

      <div class="service-grid">
        <div
          *ngFor="
            let service of quickGenerate.services;
            let i = index;
            trackBy: trackByIndex
          "
          class="service-item"
        >
          <!-- SERVICE NAME -->

          <div class="form-group">
            <label class="label"> Service {{ i + 1 }} </label>

            <input
              nbInput
              fullWidth
              [name]="'service-name-' + i"
              [(ngModel)]="service.name"
              placeholder="user-service"
            />
          </div>

          <!-- IMAGE -->

          <div class="form-group">
            <label class="label"> Docker image </label>

            <input
              nbInput
              fullWidth
              [name]="'service-image-' + i"
              [(ngModel)]="service.image"
              placeholder="harbor/user-service:v1.0.0"
            />

            <div
              class="input-error"
              *ngIf="service.image && !parseDockerImage(service.image).valid"
            >
              Docker image không hợp lệ
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ACTION -->

    <div class="quick-generate-actions">
      <button
        nbButton
        status="info"
        size="medium"
        (click)="generateMultipleFiles()"
      >
        <nb-icon icon="flash-outline"></nb-icon>

        Tạo tự động
      </button>
    </div>
  </nb-card-body>
</nb-card>
